<div class="product--card">

  <div class="product--card_image">
    <img
      src="https://http2.mlstatic.com/D_NQ_NP_902436-MLB45113277088_032021-O.webp"
      alt="imagem do produto"
    />
  </div>

  <div class="product--card_title">
    Kit Embreagem L200 L300 L300 1990/ Luk 623305000
  </div>

  <div class="product--card_price">R$ 845,90</div>

  <div class="product--card_shipping_types">
    <p class="product-card__free-shipping_type prodcut-card__free-shipping">
      Frete grátis
    </p>

    <span class="product-card__free-shipping_type prodcut-card__fulfillment">
      Full
    </span>
  </div>

</div>
