<div class="product-card">
  <div class="product-card__image">
    <img
      src="https://http2.mlstatic.com/D_NQ_NP_902436-MLB45113277088_032021-O.webp"
      alt="imagem do produto"
    />
  </div>

  <div class="product-card__container">
    <div class="product-card__title">
      Kit Embreagem L200 L300 L300 1990/ Luk 623305000
    </div>

    <div class="product-card__details">
      <div class="product-card__detail product-card__detail--detail1">
        <p class="criado-em">
          <strong class="prodcut-card__active">Ativo:</strong>
          985 dias
        </p>
        <p class="tipo-anuncio">
          <strong>Anúncio:</strong>
          Premium
        </p>
        <p class="fotos">
          <strong>Envio:</strong>
          3
        </p>

        <p class="qualidade">
          <strong>Qualidade:</strong>
          100%
        </p>

        <p class="vendas">
          <strong>Vendas:</strong>
          + de 500
        </p>
      </div>
      <div class="product-card__detail product-card__detail--detail2">
        <mat-card class="product-card__metrics">
          <mat-card-header class="product-card__header">
            <mat-card-title>Métricas Anúncio</mat-card-title>
          </mat-card-header>
          <mat-card-content class="product-card__content">
            <p>Platinum</p>
            <p>Loja Oficial</p>
            <p>Full</p>
            <p>Promoção Ativa</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="product-card__price">R$ 845,90</div>
  </div>
</div>
