<div class="product-card">
  <div class="product-card__image">
    <img
      src="https://http2.mlstatic.com/D_NQ_NP_902436-MLB45113277088_032021-O.webp"
      alt="imagem do produto"
    />
  </div>

  <div class="product-card__container">
    <div class="product-card__title">
      Kit Embreagem L200 L300 L300 1990/ Luk 623305000
    </div>

    <div class="product-card__details">
      <div class="product-card__detail product-card__detail--detail1">
        <p class="criado-em">
          <strong>Criado em:</strong>
          27/07/2021
        </p>
        <p class="marca">
          <strong>Marca:</strong>
          Luk
        </p>
        <p class="fotos">
          <strong>Fotos:</strong>
          3
        </p>

        <p class="qualidade">
          <strong>Qualidade:</strong>
          100%
        </p>

        <p class="vendas">
          <strong>Vendas:</strong>
          + de 500
        </p>
      </div>
      <div class="product-card__detail product-card__detail--detail2">
        <p class="localizacao">
          <strong>Localização:</strong>
          Barueri/SP
        </p>

        <p class="vendedor">
          <strong>Vendedor:</strong>
          MSAPEÇAS
        </p>

        <p class="visitas">
          <strong>visitas:</strong>
          Acesse o anúncio
        </p>
      </div>
    </div>

    <div class="product-card__price">R$ 845,90</div>

    <div class="product-card__shipping__types">
      <div
        class="product-card__shipping__type product-card__shipping__type--free-shipping"
      >
        Frete grátis
      </div>

      <div
        class="product-card__shipping__type product-card__shipping__type--fulfillment"
      >
        Full
      </div>
    </div>
  </div>
</div>

