.product-card
  background-color: #fff
  border-radius: 4px
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
  display: flex
  flex-direction: row
  margin: 20px auto
  max-width: 1100px
  padding: 10px 20px
  width: 100%

  &__image
    margin-right: 20px

    img
      max-width: 12.5rem
      max-height: 12.5rem


  &__container
    margin: 10px
    display: flex
    flex-direction: column

    &__title
    font-size: 25px
    margin-bottom: 10px
    width: 100%

  &__details
    display: flex
    font-size: 15px
    align-items: center
    justify-content: space-between


  &__price 
    color: #F2B33D
    font-size: 30px
    font-weight: bold
    margin-top: 15px

  &__metrics
    height: 100px
    width: 400px
    background-color: #fff
    border-radius: 4px
    box-shadow: 0 1px 3px #0540F2
    display: flex

  &__header
    font-size: 20px
    font-weight: bold
  
  &__content
    display: flex
    font-size: 15px
    
    






